* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
header h1 {
	font-weight: 700;
	font-size: 1.4em;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 1em;
	background-color: #FAC102;
	border-radius: 0 0 50% 50%/0 0 100% 100%;
	width: 40vw;
	animation: heartbeat 5s .3s infinite;
}
header h1 a {
	text-decoration: none;
	color: black;
}
.landing {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	max-width: 90vw;
	line-height: 1.6;
}
.landing h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 2.2em;
	margin: 22vh 0 5vh 5vw;
}
.landing p {
	font-weight: 400;
	font-size: 1em;
	margin: 8vh 0 5vh 5vw;
}
.landing a, fieldset a {
	font-weight: 600;
	font-size: 1em;
	text-decoration: none;
	color: black;
	position: absolute;
  	bottom: 2em; 
	right: 50%;
  	transform: translate(50%,-50%);
	bottom: 1em;
	background-color: #FAC102;
	width: 70vw;
	height: 6vh;
	border-radius: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}
fieldset a:first-of-type {
	bottom: 4.5em; 
}
fieldset a:nth-of-type(2) {
	background-color: white;
	box-shadow:0px 0px 0px .15em #FAC102 inset;
}
fieldset {
	display: none;
}
fieldset:target {
	border: none;
	font-family: 'Montserrat', sans-serif;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1em;
}
fieldset label {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 1.6em;
	max-width: 90vw;
}
fieldset div {
	margin-top: -2em;
}
fieldset div label {
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-left: 1em;
}
fieldset div {
	text-align: left;
}
fieldset div input[type="radio"] {
	appearance: none;
	background-color: #fff;
	width: 1.5em;
	height: 1.5em;
	box-shadow:0px 0px 0px .15em #FAC102 inset;
	border-radius: 50%;
	margin-top: 1.2em;
}
fieldset div input[type="radio"]:checked {
	background-color: #FAC102;
}
fieldset div input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	width: 1.5em;
	height: 1.5em;
	box-shadow:0px 0px 0px .15em #FAC102 inset;
	margin-top: .5em;
}
fieldset div input[type="checkbox"]:checked::before {
	content: '✔';
}
fieldset div input[type="checkbox"]:checked {
	background-color: #FAC102;
	margin-top: .8em;
}
fieldset input[type=text], input[type=number] {
	height: 4vh;
	width: 85vw;
	border: none;
	font-size: 1em;
	padding: .2em;
	border: .15em solid black;
	border-radius: 2em;
	font-weight: 500;
	text-align: center;
}
fieldset input[type=text]:focus, input[type=number]:focus {
	background-color: #FAC102;
}
fieldset span {
	position: fixed;
	top: 7em;
	right: 2em;
}
fieldset span::after {
    content: '';
    position: absolute;
    height: .5em;
    display: block;
    right: 0;
    left: 0;
    background: #FAC102;
    transition: .7s ease;
	border-radius: 2em;
	margin-top: .2em;
	animation: appear .4s linear;
}
fieldset:first-of-type span::after {
	width: 25%;
}
fieldset:nth-of-type(2) span::after {
	width: 50%;
}
fieldset:nth-of-type(3) span::after {
	width: 75%;
}
fieldset:nth-of-type(4) span::after {
	width: 100%;
}
@keyframes heartbeat {
	0% {
		letter-spacing: 0;
	  }
	5% {
	  letter-spacing: -0.1em;
	  opacity: .8;
	}
	10% {
		letter-spacing: 0;
		opacity: 1;
	  }
}
@keyframes appear {
	0% {
		clip-path: polygon(0 0, -50% 0, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
		opacity: 1;
	}
}