<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1><a href="/">SO-NUTS</a></h1>
        </header>
        <section class="landing">
            <h1>Personaliseer nu je SO-NUTS plan!</h1>
            <p>Om een goed plan te maken moeten we je eerst beter leren kennen!</p>
            <a href="intake#leeftijd">Start intake</a>
        </section>
    </body>
</html>